.custom-navbar {
    font-family: 'Poppins', sans-serif;
    padding: 0.35% 2% 0.35% 0%;
    font-weight: 500;
}

.navbar-list {
    font-size: 1.4rem;
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(147, 168, 216);
    color: white;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-input::placeholder {
    color: white;
    opacity: 0.5;
}

textarea:focus,
.nav-input:focus {
    outline: none;
}

.nav-logout {
    color: white;
    opacity: 0.8;
    display: none;
}

.fa-magnifying-glass {
    color: aliceblue;
    opacity: 0.8;
    margin: 2%;
    font-size: larger;
}

@media screen and (max-width: 768px) {
    .nav-logout {
        display: block;
    }
}


/* toggle button styling */
#themePicker {
    display: none;
}

.themeToggle span {
    font-size: 0px;
    transition: font-size 600ms ease;
    cursor: pointer;
    color: white;
}

.theme{
    margin: 0.5% -2% 0 1.5%;
}

#themePicker:not(:checked)+.themeToggle #darkMode {
    font-size: 2rem;
    opacity: 0.8;
}

#themePicker:checked+.themeToggle #lightMode {
    font-size: 2rem;
    opacity: 0.8;
}